table {
  background: white;
  border: 0px solid black;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
td {
  font-size: 50pt;
  font-family: Verdana;
  padding: 10px 30px;
  text-align: center;
}
.Rbtn {
  display: block;
  font-size: 50pt;
  font-family: Verdana;
  text-align: center;
  vertical-align: middle;
  width: 350px;
  padding: 20px 20px;
  margin: 5px 5px;
  color: white;
  background-color: gray;
  cursor: pointer;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.RbtnOn {
  background-color: #43a209;
}
